	<!-- JS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="<%= proto_root %>/assets/js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	<script src="<%= proto_root %>/assets/js/plugins.js"></script>
	<script src="<%= proto_root %>/assets/js/script.js"></script>

	<!-- Google code here -->
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try { var pageTracker = _gat._getTracker("UA-10513852-3"); pageTracker._trackPageview(); } catch(err) {}
	</script>
		
</body>

</html>

<!--
	THE STUDIO TEAM: Stanley & Jose
-->